<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <title>
        用户微信号与系统账号绑定
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />  
    <meta name="description" content="">
    <meta name="author" content="">
    <!---CSS-->
    <link rel="stylesheet" type="text/css" href="css/supersized.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/tooltips.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <body>
        <div class="page-container">
            <div class="main_box">
                <div class="login_box">
                    <div class="login_logo">
                        <label for="j_loginname" class="t">
                          
                                <font color="red">
                                    绑定用户账号信息
                                </font>
                           
                        </label>
                    </div>
                    <div class="login_form">
                        <form action="index.html" id="login_form" method="post">
                            <div class="form-group">
                                <label for="j_username" class="t">&nbsp;用&nbsp;户&nbsp;账&nbsp;号：</label>
                                <input id="tel_Num" value="" name="tel" type="text" class="form-control x319 in"  autocomplete="off" onblur="checkMobile(tel_Num.value);" />
                            </div>
                            <!--<div class="form-group">
                                <label for="j_password" class="t">密　码：</label>
                                <input id="password" value="" name="password" type="password"
                                       class="password form-control x319 in">
                            </div>-->
                            <div class="form-group">
                                <label for="j_captcha" class="t">短信验证码：</label>
                                <input id="j_captcha" name="j_captcha" type="text" class="form-control x164 in" />
                                <input id="duanxinfs"  title="点击发送"  type="button"  value="获取验证码" />
                            </div>
                           
                    </div>
                    <div class="form-group space">
                        <label class="t"></label>
                        <button type="button" id="submit_btn"
                                class="btn btn-primary btn-lg">
                            &nbsp;绑&nbsp;定&nbsp;
                        </button>
                        <input type="reset" value="&nbsp;&nbsp;&nbsp;&nbsp;重&nbsp;置&nbsp;" class="btn btn-default btn-lg">
                    </div>

                    </form>
                </div>
            </div>
        </div>
        </div>
        <script src="js/supersized.3.2.7.min.js"></script>
        <script src="js/supersized-init.js"></script>
        <script src="js/scripts.js"></script>
        <div style="text-align:center;">
          
        </div>
        <script language="javascript" type="text/javascript" >          

            $(function () {

                alert(111);
                //提交表单
                $('#submit_btn').click(function () {
                    show_loading();
                    var myReg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/; //邮件正则
                    if ($('#email').val() == '') {
                        show_err_msg('邮箱还没填呢！');
                        $('#email').focus();
                    } else if (!myReg.test($('#email').val())) {
                        show_err_msg('您的邮箱格式错咯！');
                        $('#email').focus();
                    } else if ($('#password').val() == '') {
                        show_err_msg('密码还没填呢！');
                        $('#password').focus();
                    } else {
                        //ajax提交表单，#login_form为表单的ID。 如：$('#login_form').ajaxSubmit(function(data) { ... });
                        //show_msg('登录成功咯！  正在为您跳转...','/');    
                    }
                });

                $('#tel_Num').blur(function (str) {
                    if (str == "") {
                        show_err_msg("手机号不能为空！");
                    }
                    else {
                        var re = /^1\d{10}$/                               // 以1开始后面加10位数字  
                        if (re.test(str)) {
                            //alert("正确");  
                        } else {
                            show_err_msg("手机号格式错误！");
                        }
                    }
                });

            });

            function checkMobile(str) {  
                if(str==""){  
                    show_err_msg("手机号不能为空！");
                }  
                else{  
                    var re = /^1\d{10}$/                               // 以1开始后面加10位数字  
                    if (re.test(str)) {  
                        //alert("正确");  
                    } else {  
                        show_err_msg("手机号格式错误！");
                    }  
                }  
            }

            // JavaScript Document
            //支持Enter键登录
            document.onkeydown = function (e) {
                if ($(".bac").length == 0) {
                    if (!e) e = window.event;
                    if ((e.keyCode || e.which) == 13) {
                        var obtnLogin = document.getElementById("submit_btn")
                        obtnLogin.focus();
                    }
                }
            }

        </script>

    </body>
</head>

</html>