<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--当日志模式为LogOpration.Default时，LogEnabled的值决定了是否记录日志-->
    <add key="LogEnabled" value="true" />
    <!-- E:\GitCode\IOT.Grain\Net66.Service -->
    <add key="LocalAddress" value="E:/GitCode/IOT.Grain/Net66.Service/" />

    <!--mxt 短信配置-->
    <add key="MsgApiUrl" value="http://113.106.16.55:8080/gateway/Services.asmx/" />
    <add key="SendUserID" value="169989" />
    <add key="SendAccount" value="admin" />
    <add key="SendPassword" value="148917" />
    <add key="Signature" value="【中软易通粮情中心】" />
    <!--Application 是否发送MSG-->
    <add key="OPENMSG" value="true" />
    <!--mxt-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>